# data file
*.pkl
*.npz
*.zip
/data/ntu/denoised_data/
/data/ntu/raw_data/
/data/nturgbd_raw/
/results/
/log/

#****************************************
# original  
#****************************************
*.sh
wandb
*_old.py
__pycache__
*ipynb
*.pt
*.yaml
